<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" xmlns:tools="http://schemas.android.com/apk/tools" xmlns:manifest_tools="http://schemas.android.com/tools" android:versionName="1.0" package="com.xamconsultant.xctapplication" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="Diary App" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application manifest_tools:replace="android:allowBackup" android:icon="@mipmap/icon" android:allowBackup="false" android:requestLegacyExternalStorage="true" android:label="Diary App" android:name="com.xamconsultant.xctapplicationp" tools:node="merge">
		<!--for media plugin-->
		<provider android:name="androidx.core.content.FileProvider" android:authorities="com.xamconsultant.xctapplication.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
		</provider>
	</application>
</manifest>